@using System;
@using System.Collections.Generic;
@using System.Text.Json.Serialization;
@using System.Text.Json;


@using MudBlazor
@using Data

@page "/v2/{Username?}"

@rendermode InteractiveServer
@inject NavigationManager navigationManager
@inject IStringLocalizer<Resource> Localizer
@inject DataHandler DataHandler
@inject ApiHandler ApiHandler

<MudPopoverProvider />
<PageTitle>Boards</PageTitle>


<MudGrid Justify="Justify.Center"> 
    <MudItem xs="12" sm="10" md="8" lg="6" xxl="6">
        <MudCard Class="pa-5" Elevation="0">
            <MudCardContent>
                @if(boards.Count == 0)
                {
                    <MudText Typo="Typo.body1">
                        @Localizer["NoBoardMessage"]
                    </MudText>
                }
                @foreach(var board in boards) {
                    if (board.Key.Platforms.Count == 0) {
                        <div class="container">
                            <MudBoard Departures=@board.Value StopName=@board.Key.Name OnDelete="@RemoveBoard" OnEdit="@EditBoard"></MudBoard>
                        </div>
                    }
                    else {
                        var grouped = board.Value.GroupBy(departure => departure.Stop.PlatformCode);
                        foreach (var group in grouped)
                        {
                            if(board.Key.Platforms.Contains(group.Key)){
                                <div class="container">
                                    <MudBoard Departures=@group StopName=@board.Key.Name PlatformCode=@group.Key OnDelete="@RemoveBoard" OnEdit="@EditBoard"></MudBoard>
                                </div>
                                <br>
                            }
                        }
                    }
                    <br>
                }
                <MudButton 
                    OnClick="AddNewBoard"
                    Variant="Variant.Outlined"
                    FullWidth="true">
                    @Localizer["AddBoard"]
                </MudButton>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>
@code {
    [Parameter]
    public string? Username { get; set; }

    private Timer? refreshTimer;
    Dictionary<StopInfo, List<Departure>> boards = new();

    protected override async Task OnInitializedAsync()
    {
        if(Username is null) {
            navigationManager.NavigateTo("/home");
        }
        User? user = DataHandler.GetUser(Username!);
        if(user is not null && user.Favorites is not null){
            /// For each favorite, get the departure board and add it to the dictionary.
            foreach (var stop in user.Favorites)
            {
                List<Departure>? departures = await ApiHandler.GetDepartureBoard(stop.Name);
                if(departures is not null)
                    boards.Add(stop, departures);
            }
        }
        refreshTimer = new Timer(RefreshData, null, 0, 30000);
    }
    /// <summary>
    /// Reshuffles the data every 30 seconds.
    /// </summary>
    /// <param name="state"></param>
    private async void RefreshData(object? state)
    {
        await InvokeAsync(StateHasChanged);
    }
    /// <summary>
    /// Navigates to the add board page.
    /// </summary>
    private void AddNewBoard()
    {
        navigationManager.NavigateTo($"/add/{Username}");
    }
    /// <summary>
    /// Handles removing a board
    /// </summary>
    /// <param name="stopName"></param>
    public void RemoveBoard(string stopName)
    {
        var keyToRemove = boards.Keys.FirstOrDefault(k => k.Name == stopName);
        if (keyToRemove != null)
        {
            boards.Remove(keyToRemove);
        }
        DataHandler.DeleteBoard(Username!, stopName);
        StateHasChanged();
    }
    /// <summary>
    /// 
    /// </summary>
    /// <param name="stopName"></param>
    public void EditBoard(string stopName)
    {
        navigationManager.NavigateTo($"/add/{Username}/{stopName}");
    }
}
