@inject IStringLocalizer<Resource> Localizer

<div style="overflow-x: auto;">
    <MudDataGrid Items="Departures"
                 Dense="true"
                 Striped="true"
                 Bordered="true"
                 Elevation="0"
                 Square="true"
                 Outlined="true"
                 SortMode="SortMode.Single"
                 Breakpoint="Breakpoint.None"
                 Class="pa-0">
        <Columns>
            <PropertyColumn Title="@PlatformCode"
                            Property="departure => departure.Route.ShortName" 
                            Sortable="false"
                            HeaderStyle="width: 30px;"
                            CellStyle="text-align: center; width: 30px;" />
            <TemplateColumn HeaderStyle="width: 90px;"
                            CellStyle="text-align: center; width: 90px;">
                <CellTemplate>
                    @if (context.Item.Trip.IsWheelchairAccessible)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.Accessible" Size="Size.Small" />
                    }
                    @if (context.Item.Trip.IsAirConditioned == true)
                    {
                        <MudIcon Icon="@Icons.Material.Filled.AcUnit" Size="Size.Small" />
                    }
                </CellTemplate>
            </TemplateColumn>
            <PropertyColumn Title="@Localizer["Direction"]"
                            Property="departure => departure.Trip.Headsign" 
                            Sortable="false"/>
            
            <PropertyColumn Title="@Localizer["Min"]" 
                            Property="departure => departure.DepartureTimestamp.Minutes" 
                            Sortable="false"
                            HeaderStyle="width: 25px;"
                            CellStyle="text-align: center; width: 25px;" />
        </Columns>
    </MudDataGrid>
</div>

@code {
    [Parameter]
    public IEnumerable<Departure>? Departures { get; set; }
    [Parameter]
    public string PlatformCode { get; set; } = String.Empty;
}
